.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.content {
  display: none;
}
.imageWrapper img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 8px;
}

#puppyList {
  background-color: lightblue;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

body {
  font-family: sans-serif;
}

h1 {
  background-color: cornflowerblue;
  border-radius: 1rem;
  padding: 1rem;
}

h2 {
  text-decoration: underline;
}
